/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
.byebug_history
.idea/

# Tmp csv files
customer_requests_development.csv
customer_requests_production.csv
customer_requests_test.csv

# Ignore the builds directory
/app/assets/builds/*
!/app/assets/builds/.keep
